.headerLink {
    position: relative;
}

.headerLink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #263238;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.headerLink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* header icon */
.burger {
    position: relative;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: whitesmoke;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 5px;
}


.btnStyle:hover {
    animation: rotate624 0.7s ease-in-out both;
}


@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}



/* Mobile view */
@media (max-width: 768px) {
    .headerLink::before {
        display: none;
    }
}

/* Custom CSS for ReactPaginate */
.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 4px;
}

.pagination li a {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    color: #374151; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination li a:hover {
    background-color: #3A3A3A; 
    color: white;
}

.pagination .active a {
    background-color: #3A3A3A; 
    color: white;
    border: 1px solid #3A3A3A; 
}
